<p>"Welcome to join the SMART-101 Challenge!"</p>


<p>"While deep neural networks offer compelling performances on specialized tasks on which they are trained on, (i) how well do they model abstract data, attend on key entities, and transfer knowledge to solve new problems? (ii) how fluid are they in acquiring new skills? and (iii) how effective are they in the use of language for visual reasoning? Using state-of-the-art deep learning models, this challenge seeks to answer these questions in order to develop an ability of Vision and Language Algorithmic Reasoning (VLAR)."</p>


<p>"This challenge involves SMART: a Simple Multimodal Algorithmic Reasoning Task and the associated SMART-101 dataset, for evaluating the abstraction, deduction, and generalization abilities of neural networks in solving visuolinguistic puzzles designed specifically for children in the 6–8 age group. SMART takes a look back at the foundations of intelligence, by asking the question: Are state-of-the-art deep neural networks capable of emulating the thinking process of humans, or can it even think like young children? The dataset consists of 101 unique puzzles; each puzzle has 2000 instances. Each puzzle instance comprises a picture and a question, and their solution needs a mix of several elementary skills, including arithmetic, algebra, and spatial reasoning, among others."</p>

<p>"Winner teams will be invited to attend the award ceremony and give short talks during the full-day VLAR workshop at the Intl. Conference on Computer Vision (ICCV, Oct 2-6/Paris) and will receive prices."</p>

<p>"Please refer to the Phases tab for more information about participating in the challenge."</p>


<p>"For more details about our workshop, please refer to our workshop website, if you still have questions, please contact smart101@googlegroups.com"</p>

